/* Philosopher fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* open sans fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.add__slider .datatable .dataTables_info,
.padding_remove .dataTables_info {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
	float: unset;
	background: #e9e9e9;
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.sliders_page .dataTable td {
	width: auto !important;
	word-wrap: break-word;
	white-space: break-spaces;
}

.padding_remove .dataTables_length {
	padding-left: 9px;
}

.padding_remove .dataTables_length {
    float: left;
    font-size: 16px;
}

.padding_remove table.dataTable thead {
    background: #e2e2e3;
    border: 0px !important;
}
.padding_remove table.dataTable a.paginate_button.current {
	margin: 0px 0px;
}

.padding_remove table.dataTable a.paginate_button.current {
	margin: 0px 0px;
	border-radius: 0px !important;
	background: #5c5c5c !important;
	color: #fff !important;
}

.padding_remove tabel.dataTable a.paginate_button.current {
	border-radius: 0px !important;
}

table.dataTable td img {
	width: 100px !important;
	height: 60px !important;
	max-width: 100px !important;
    object-fit: cover;
    object-position: top;
}

.padding_remove tabel.dataTable {
    padding-bottom: 10px;
}

.padding_remove tabel.datatable .dataTables_length, .padding_remove .dataTables_filter, .padding_remove .dataTables_length {
	margin: 17px;
}

.padding_remove .dataTables_length{
    margin-left: 0px;
}

.padding_remove .dataTables_paginate {
    float: right;
}

.paginate_button.current {
	font-size: 15px !important;
	font-weight: 500 !important;
	border-radius: 5px !important;
	border: none !important;
	background-color: #01796F !important;
	color: #ffffff !important;
}

.padding_remove .dataTables_paginate  a.paginate_button.previous::before, .padding_remove .dataTables_paginate a.paginate_button.previous::before, .employesss_tabs a.paginate_button.previous::before {
    content: "\003c" !important;
    background: #6c6b6b;
    color: #fff;
    border-radius: 5px;
    font-family: 'FontAwesome' !important;
    font-weight: 100 !important;
    font-size: 12px;
    padding: 12px 13px 11px 13px;
}

.padding_remove .dataTables_paginate {
	margin: 6px 7px 12px;
}

.padding_remove.table-responsive a.paginate_button.current, .padding_remove.table-responsive a.paginate_button.current:hover {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
}

.add_customers_inner .padding_remove .dataTables_paginate a.paginate_button.previous::before {
	content: "\003c" !important;
	background: #6c6b6b;
	color: #fff;
	border-radius: 5px;
}

.add_customers_inner .padding_remove .dataTables_paginate a.paginate_button.next::before {
	content: "\003e" !important;
	background: #6c6b6b;
	color: #fff;
	border-radius: 5px;
}

.add_customers a.paginate_button {
	margin-right: 1px;
}

.padding_remove .paginate_button.next::before {
	content: "\003E" !important;
	background: #6c6b6b;
	color: #fff;
	border-radius: 5px;
	font-family: 'FontAwesome' !important;
    font-weight: 100 !important;
	padding: 12px 13px 11px 13px;
	font-size: 12px;
}

.categories_inner a.paginate_button.current{
    padding-top: 7px !important;
    padding-bottom: 8px !important;
}
table.dataTable th.sorting::before,table.dataTable th.sorting::after{
	display: none !important;
}

.sliders_page table.dataTable.no-footer button.btn.btn-primary.btn-sm {
	width: 27px;
	padding-left: 8px;
	height: 31px;
}
.form-control:focus {
    border-color: #3c5b6f2b !important;
    box-shadow: 0 0 0 .25rem rgb(60 91 111 / 8%) !important;
}
.inner_admin input, .inner_admin textarea {
    background: transparent;
}
.pages-heading .btn:first-child:active {
    background: #141E46;
    color: #fff !important;
    border-color: #141E46 !important;
}
.edit_fiedls_sec h2, .other_data_fields h2 {
    font-weight: 600;
    font-size: 22px !important;
    color: #3c5b6f;
}
.edit_fiedls_sec label, .add_sliedrs label {
    color: #212529;
    font-size: 16px;
	margin-top: 17px;
}
.add_customers .padding_remove .dataTables_paginate .paginate_button {
	color: #fff !important;
}
.other_data_fields input, .other_data_fields textarea {
    padding: 10px 14px !important;
}
.border_index div#DataTables_Table_0_paginate a.paginate_button.current {
	font-size: 15px !important;
}
.view_job_page .details_job h2 {
    font-size: 22px !important;
    color: #3c5b6f;
    font-weight: 600;
}
.view_job_end_wrapper {
    padding: 0px 13px;
}
.jobs_tabss li.nav-item:hover {
    background: #060d1a;
}
.view_employes_nav_wrapper li span:hover {
    color: #1a9882;
}
.employ_btn_mid {
    margin: 0px 5px;
}
.employ_btn, .employ_btn_mid, .employ_btn_bottom {
    width: 30px;
    height: 30px;
}
.employ_table {
    width: 100%;
    overflow-x: scroll;
	white-space: wrap;
	display: block;
}
.add_testimonial_page {
    border-bottom: 0px solid transparent !important;
}
.wrapper_other_fields {
    padding: 0px 9px;
}
.view_job_page .card .card-header-title p {
    margin-bottom: 0px;
}
.view_link_tab {
    background: #3c5b6f;
    color: #fff !important;
    padding: 10px !important;
    margin-right: 13px;
}
.view_link_tab.active {
    background: #060d1a;
}
.view_employee_tabs_wrapper {
    margin-bottom: 12px;
}
.view_employ_table {
    margin-bottom: 0px !important;
}
.padding_remove .paginate_button.previous::before{
	content: "\F284" !important;
}
.View_applies_wrapper {
    border: 1px solid #ddd;
    border-radius: 10px;
}
.View_applies_wrapper .dataTables_paginate{
    margin-top: 10px;
    margin-bottom: 25px;
}
.view_employ_table {
    display: block;
}
.admin_appy_table select {
    line-height: 15px;
}
.Admin_view_employ  .card-image img{
	border-radius: 50%;
    height: 200px;
    object-fit: cover;
	width: 200px;
}
.Admin_view_employ .video_image_wrapper .column_mine_width, .Admin_view_employ  .inner_spacing_wrappers {
	padding: 0px !important;
}
.Admin_view_employ .column_mine_width {
    width: 18% !important;
    flex: 1 18% !important;
    max-width: 18% !important;
	cursor: pointer;
}
.Admin_view_employ .video_image_wrapper,.Admin_view_employ .customer_card {
	padding: 20px 13px;
}
.Admin_view_employ .pass_travel_details_wrapper{
	margin: 0px 13px;
	padding: 20px 0px !important;
}
.Admin_view_employ .pass_travel_details_wrapper {
    padding-top: 40px;
}
.resume_btn:hover{
	background-color: #060d1a;
}
#business_apply_modal img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

@media (max-width:1238px) {
	.add_testimonial_page {
		display: block !important;
	}

}
@media (max-width:1199px) {
	.Travel_details {
		margin-bottom: 20px;
	}
	.video_image_wrapper h2 {
		width: 130px;
	}
}

@media (max-width:1100px) {
	.video_image_wrapper h2 {
		width: 130px;
	}
}

@media (max-width:1024px) {
	.dashboard-home .card-header h4 {
		font-size: 16px !important;
	}
	.view_employ_table {
		display: block !important; 
		white-space: nowrap !important; 
	}

}
@media (max-width:991px) {
	.View_Detailed_Enquiry_box {
		width: 70% !important;
	}
	.Admin_view_employ .column_mine_width {
		width: 23% !important;
		flex: 1 23% !important;
		max-width: 23% !important;
		margin-bottom: 15px;
	}
	.Admin_view_employ .video_image_wrapper {
		padding: 20px 13px!important; 
	}
	.Admin_view_employ  .card-image img {
		height: 150px;
		width: 150px;
	}
}

@media (max-width:992px) {
.padding_remove table.dataTable tbody,
	.padding_remove table.dataTable th {
		width: 100% !important;
	}
	.employ_table .dataTables_info {
		width: 100%;
	}
	.employ_table .dataTables_filter {
		margin-top: 12px !important;
	}
}


@media (max-width: 850px) {
	.view_job_page .view_job_wrapper .card-header-title h2, .view_job_page .view_job_wrapper .card-header-title h4, .view_job_page .view_job_wrapper .card-header-title p {
		font-size: 13px !important;
	}
}

@media (max-width:817px) {
    .dataTables_wrapper .dataTables_filter, .padding_remove .dataTables_length{
        float: left;
    }
    /* .dataTables_wrapper .dataTables_length{
        width:100%;
        margin-bottom: 0px;
    }   
    .dataTables_wrapper .dataTables_filter {
        display: flex;
        flex-wrap: wrap;
        width: 93%;
    }
    .dataTables_wrapper .dataTables_filter label, .dataTables_wrapper .dataTables_filter label input{
        width:100%;
    }
    .dataTables_wrapper .dataTables_filter label{
        display: flex;
        align-items: center;
    } */
    .dataTables_wrapper .dataTables_filter {
        margin-left: 0px;
        float: right;
    }
    .dataTables_wrapper .dataTables_filter label, .padding_remove .dataTables_length label {
        font-size: 13px;
    }
}


@media (max-width:768px) {
	.padding_remove .dataTables_filter label {
		font-size: 12px;
	}

	.padding_remove .dataTables_length {
		font-size: 16px;
	}

	.padding_remove .dataTables_length {
		font-size: 12px;
		padding-top: 4px !important;
	}
	.admin_box {
		height: 510px;
	}

}

@media (max-width:767px){
	.side-navbar.mobile_sidebar .mobile_sidebar_inner_wrapper {
		padding-top: 0px !important;
	}
	.wrapper_other_fields {
		max-width: 1120px;
	}
	.View_Detailed_Enquiry_box {
		width: 100% !important;
	}
	.job_posting_page {
		padding: 0px 5px;
	}
	.other_data_fields .container {
		padding: 0px 5px;
		max-width: 100%;
	}
	.certifiacte-wrapper-col {
		padding: 0px;
	}
	.all_subhadings_wrap .pages-heading, .add_customers .add_customers_inner, .add_customers .add_customers_inner, .categories_page .categories_inner, .View_enquires_wrapper .View_enquiresinner_wrapper, .View_Detailed_Enquiry_box .view_padding, .border_index.job_admin_all, .all_subhadings_wrap .view_job_page {
		padding-left: 3px !important;
		padding-right: 3px !important;
	}

	.add_customer_page .configure-switch, .edit_customer_page .configure-switch, .col_update .configure-switch {
		margin-top: 20px;
	}
	.view_employee_tabs_wrapper .container_full {
		max-width: 100%;
		padding: 0px 5px;
	}
	.view_job_page .bg_mine {
		padding-left: 0px;
		padding-right: 0px;
	}
	.View_applies_wrapper {
		margin-top: 20px;
	}
	.employesss_tabs_dd {
		padding: 0px 5px;
	}
	.view_employ_table th{
		white-space: nowrap;
	}
	.admin_profile .remove_paddingss {
		padding: 0px 5px;
	}
	.Admin_view_employ .video_image_wrapper,.Admin_view_employ .customer_card, .Admin_view_employ .video_image_wrapper {
		padding: 20px 0px !important;
	}
	.Admin_view_employ, .Admin_view_employ .pass_travel_details_wrapper {
		padding: 0px !important;
		margin: 0px !important;
	}
	.width_contents{
		max-width: 740px !important;
	}
	.Travel_details {
		margin-top: 20px;
	}
	
}

@media (max-width:640px) {
	.padding_remove .dataTables_filter {
		padding-top: 0px !important;
	}

	.padding_remove .dataTables_length {
		float: left;
	}
    .padding_remove .dataTables_filter {
		float: right;
	}

	.padding_remove .dataTables_length label {
		font-weight: 700;
		font-size: 12px;
	}

	.padding_table .dataTables_length {
		float: left;
	}

	.padding_table .dataTables_filter {
		float: right;
		margin-bottom: 13px;
		margin-top: 0px;
		width: 50%;
		text-align: left;
	}
}

@media (max-width:576px) {
    .padding_remove .dataTables_filter label {
        float: right;
        margin-left: 10px;
        text-align: left;
    }
    /* .dataTables_wrapper .dataTables_info,
	.dataTables_wrapper .dataTables_paginate {
		float: right;
	} */
    .padding_remove {
		padding: 0px !important;
	}
	.edit_fiedls_sec h2, .other_data_fields h2 {
		font-size: 20px !important;
	}
	.certifiacte-wrapper-col {
		width: 50%;
	}
	.requirement_wrapper p {
		margin-bottom: 0px;
	}
	.view_job_page .details_job h2 {
		font-size: 20px !important;
	}
	.requirement_wrapper p {
		margin-bottom: 0px;
		font-size: 14px;
	}
	.requirement_wrapper p {
		margin-bottom: 15px !important;
	}
	.view_detailed_header {
		padding: 20px !important;
		background: #3c5b6f !important;
	}
	.view_employee_tabs_wrapper .col_width {
		width: 35%;
	}
	.view_job_wrapper{
		padding-left: 3px !important;
		padding-right: 3px !important;
	}
	.Admin_view_employ {
		padding: 0px 5px !important;
	}
	.Admin_view_employ  .card-image img {
		height: 110px;
		width: 110px;
	}
	.Admin_view_employ .customer_card {
		gap: 15px;
	}
	
	.Admin_view_employ .column_mine_width {
		width: 50% !important;
		flex: 1 50% !important;
		max-width: 50% !important;
		margin-bottom: 15px;
	}
	.Admin_view_employ .col.column_mine_width {
		padding: 0px 15px 0px 0px!important;
	}
	.row_start_content {
		justify-content: start !important;
	}

	.video_image_wrapper h2 {
		font-size: 16px !important;
	}

	.col_hd_blnk {
		margin-top: 29px !important;
	}
}

@media (max-width:522px){
	.business_dashboard_inner .dataTables_length {
		width: 100%;
	}
	.business_dashboard_inner .dataTables_filter, .business_dashboard_inner .dataTables_filter label {
		width: 100%;
	}
	.business_dashboard_inner .dataTables_filter label input {
		width: 100%;
		margin-left: 0px;
		margin-top: 7px;
	}
	.business_dashboard_inner .dataTables_filter label {
		justify-content: start;
	}

}


@media (max-width:503px) {
	.padding_remove .dataTables_filter label {
		float: right;
		font-size: 12px;
	}

	.padding_remove .dataTables_length {
		float: left;
		font-size: 16px;
		padding-top: 13px !important;
		padding-bottom: 0px !important;
	}

	.padding_table .dataTables_filter label {
		font-size: 12px;
	}
}


@media (max-width:400px){
	.view_job_page .card .card-header-title {
		display: block;
	}
	.view_job_page .card .card-header-title h2 {
		margin-bottom: 20px !important;
		margin-top: 10px;
	}
	.view_job_page .card .card-header-title p {
		margin-top: 12px !important;
	}
}

@media (max-width:496px) {
    .padding_remove .dataTables_filter label, .padding_remove .dataTables_filter {
        float: left;
    }
	.dataTables_filter {
		width: 100% !important;
	}
	.dataTables_wrapper .dataTables_filter input {
		width: 80%;
	}
	.dataTables_wrapper .dataTables_filter label {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		float: unset !important;
	}
	.padding_remove .dataTables_length {
		padding-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.padding_remove .dataTables_filter label {
		font-size: 14px !important;
	}
	.padding_remove .dataTables_filter label input[type="search"] {
		height: 32px !important;
		margin-top: 7px;
	}
	.padding_remove .dataTables_length label {
		font-size: 13px !important;
		float: left;
	}
	.padding_remove .dataTables_length {
		width: 70% !important;
	}
	.padding_remove .dataTables_length label select {
		width: 52px !important;
	}

}

@media (max-width:471px) {
	.padding_remove .dataTables_length {
		width: 50%;
		text-align: left;
	}
    .padding_remove .dataTables_length label {
		font-size: 11px;
	}

	.padding_remove .dataTables_filter {
		width: 50%;
	}

	.dataTables_length label select {
		width: 43px !important;
	}

	.padding_remove .dataTables_filter label input {
		margin-left: 10px !important;
		padding-left: 0px;
	}

	.padding_remove .dataTables_filter label input[type="search"] {
		height: 25px;
	}
	
}   

@media (max-width:442px) {
	.padding_remove .dataTables_filter label input[type="search"] {
		width: 100%;
	}

	.padding_remove .dataTables_filter label input[type="search"] {
		width: 100%;
		margin-left: 0px !important;
	}

	.padding_remove .dataTables_filter {
		padding-right: 10px !important;
	}

	.padding_remove .dataTables_filter label {
		float: unset;
	}

	.padding_table .dataTables_filter label {
		font-size: 11px;
	}

}

@media (max-width:412px) {
	.padding_remove .dataTables_filter label input[type="search"] {
		width: 100%;
		margin-left: 0px;
		text-align: left;
	}

	.padding_remove .dataTables_filter label {
		text-align: left;
		width: 100% !important;
	}

	.padding_table .dataTables_filter label {
		text-align: left;
		width: 100% !important;
	}

    .padding_remove .dataTables_filter {
		display: flex;
		flex-wrap: nowrap;
		width: 100% !important;
	}
}

@media (max-width:400px){
	.Admin_view_employ  .card-image img {
		height: 90px;
		width: 90px;
	}
}