/* Philosopher fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* open sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    margin-bottom: 0;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 700;
}
h2{
    font-size: 26px !important;
}
.white-text{
    color: #E9E9EA;
}
.collapse{
    visibility: visible !important;
}

.main-btn{
    background-color: #fff;
    border-radius: 8px;
    color: #070707;
    padding: 8px 20px;
}

.main-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.main-header a{
    color: #fff;
}
/* footer */
.main-footer{
    padding: 40px 0;
    background-color: #161721;
    border-bottom: 0.5px solid #E9E9EA80;
}

.social-icons{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E9E9EA ;
    border-radius: 50%;
    color: #07080B;
    cursor: pointer;
    transition: .3s;
}

.social-icons i{
    color: #070707;
}

.social-icons:hover{
    background-color: #128177;
    transition: 0.4s;
}

.social-icons:hover i{
    color: #fff;
    transition: 0.4s;
}

.social-icons i::before{
    font-size: 22px;
}

.footer-section h2::before{
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: #fff;
    top: 40px;
    left: 0;
}

.footer-section a{
    color: #fff;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 160px 230px 1fr 1fr;
    gap: 24px;
}

.listing-gap{
    margin-top: 40px;
}


@media (max-width: 992px){
    .footer-grid{
        grid-template-columns: 50% 50%;
        gap: 15px;
    }
}

@media (max-width: 576px){
    .footer-grid{
        grid-template-columns: 100%;
        gap: 15px;
    }
}